<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/style/main.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div id="app">
		<header th:replace="~{/fragment/header.html}"> </header>
		<nav th:replace="~{/fragment/nav.html}"></nav>
		<main>
			<aside th:replace="~{/fragment/aside.html}"></aside>
			<section>
				<div class="mb-3 mt-3">
    			<label for="title" class="form-label">제목:</label>
    			<input type="text" class="form-control" id="title" placeholder="제목 입력..." name="title" th:value="${result.title}">
  			</div>
				<div id="content" th:utext="${result.content}"></div>
				<div class="d-grid mb-3 mt-3">
 					<button type="button" class="btn btn-outline-primary btn-block" id="update">변경</button>
				</div>
				<button type="button" class="btn btn-danger" id="delete">삭제</button>
			</section>
			<aside th:replace="~{/fragment/aside.html}"></aside>
		</main>
		<footer th:replace="~{/fragment/footer.html}"> </footer>
	</div>			
	<script>
		async function initEditor() {
			try {
				editor = await ClassicEditor.create(document.querySelector('#content'), {
					ckfinder: {
						uploadUrl: '/api/boards/image'
					}
				});
				console.log('editor 초기화');
			} catch (error) {
				console.error('editor 생성 오류', error);
			}
		}
			
		initEditor();
	</script>	
	<script>
		$('#update').click(function() {
			const bno = '[[${result.bno}]]';
			const title = $('#title').val();
			const content = editor.getData();
			const token = '[[${_csrf.token}]]';
			const form = `
				<form action='/board/update' method='post'>
					<input type='hidden' name='bno' value='${bno}'>
					<input type='hidden' name='title' value='${title}'>
					<input type='hidden' name='content' value='${content}'>
					<input type='hidden' name='_csrf' value='${token}'>
				</form>
			`;
			$(form).appendTo($('body')).submit();
		})
	</script>	
	<script>
		$('#delete').click(function() {
			const bno = '[[${result.bno}]]';
			const token = '[[${_csrf.token}]]';
			const form = `
				<form action='/board/delete' method='post'>
					<input type='hidden' name='bno' value='${bno}'>
					<input type='hidden' name='_csrf' value='${token}'>
				</form>
			`;
			$(form).appendTo($('body')).submit();
		})
	</script>	
</body>
</html>